{
{%- if project_description %}
  description = {{ project_description | to_json(ensure_ascii=False) }};
{% endif %}
  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/{{ nixpkgs_channel }}";
    flake-utils.url = "github:numtide/flake-utils";
    pre-commit-hooks = {
      url = "github:cachix/pre-commit-hooks.nix";
      inputs = {
        {% if "unstable" in nixpkgs_channel -%}
        nixpkgs.follows = "nixpkgs";
        {% else -%}
        nixpkgs-stable.follows = "nixpkgs";
        {% endif -%}
        flake-utils.follows = "flake-utils";
      };
    };
  };

  outputs = inputs@{ self, ... }:
    with inputs;
    flake-utils.lib.eachDefaultSystem (system:
      let pkgs = import nixpkgs { inherit system; };
      in
      {
        packages.default = pkgs.runCommand "{{ project_name }}" { } ''
          mkdir -p $out/bin
          printf "#!${pkgs.bash}/bin/bash\n\nprintf 'Hello, world!\\n'" \
            > $out/bin/{{ project_name }}
          chmod +x $out/bin/{{ project_name }}
        '';

        apps.default = {
          type = "app";
          program = "${self.packages.${system}.default}/bin/{{ project_name }}";
        };

        devShells.default = with pkgs;
          mkShell {
            inherit (self.checks.${system}.pre-commit-check) shellHook;
            packages = [
              nixpkgs-fmt
              nil
              statix
            ];
          };

        formatter = pkgs.nixpkgs-fmt;

        checks = {
          pre-commit-check = pre-commit-hooks.lib.${system}.run {
            src = ./.;
            hooks = {
              nixpkgs-fmt.enable = true;
              copier-rejects = {
                enable = true;
                entry = "found Copier update rejection files; review them and remove them";
                files = "\\.rej$";
                language = "fail";
              };
            };
          };
        };
      });
}
